{% extends "layout.html" %}
{% block content %}

    <div class="container">
        <div class="row">
             <!-- <p style="font-size: 25px; color: black;text-align: center;margin-top: 150px;line-height: 36pt; border:5px solid black; padding: 20px;">Carbon Dioxide (CO <sub>2</sub>) is the most significant long-lived greenhouse gas which has seen its rapid rise in concentration in the atmosphere due to human activities and deforestation and has resulted in global warming. It is essential that we monitor the growing levels of emission so as to tackle the areas where the emission levels is at extreme levels . Using the data of  emissions recorded in all countries from the period 1850 to 2014 we have visualized data to show the emission trends. Using this data, we have created a Machine Learning model that will predict the  emission levels for the years 2015 to 2019. A system has been developed through which e-mails will automatically sent to the government of countries whose emission levels are more than the permissible limit.  -->
<p>About Page</p>

        </div>

    </div>
    
{% endblock content%}